ul {
    font-family: cursive;
    margin-top: 1.5rem !important;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Animations */


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* Product info */

/* @keyframes spin-and-enlarge {
    0% {
        transform: rotateZ(360deg) scale(1) translate(0%, 0%);
    }

    100% {
        transform: rotateZ(0deg) scale(2.5) translate(-40%, -30%);
    }
} */

@keyframes flip-in {
    0% {
        transform: rotateX(-90deg);
        transform-origin: top;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes flip-out {
    0% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }

    50% {}

    100% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
}

/* Contacts sign */

@keyframes slide-in-tilt {
    from {
        left: -10%;
    }

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: rotate(35deg);
    }
}

@keyframes slide-out-tilt {
    0% {
        transform: rotate(35deg) translateX(0);
    }

    100% {
        transform: rotate(0deg) translateX(-100%);
    }
}

/* Contacts message */

@keyframes slide-in-from-right {
    0% {
        transform: translateX(100%);

    }

    100% {
        transform: translateX(2%);
        opacity: 1;
    }
}

@keyframes slide-out-from-right {
    0% {
        transform: translateX(2%);
        opacity: 1;
    }

    100% {
        transform: translateX(102%);
    }
}

/* Product list */

@keyframes slide-in-from-bottom {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out-from-bottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(1000px);
        opacity: 0;
    }
}

/* About */
/* needs smoothingout */

@keyframes lower {
    0% {
        transform: translateY(-120%);
    }

    100% {
        transform: translateY(-20%);
    }

    /* 50%{
        transform: translatey(-30%);

    }
    100%{
        transform: translateY(-15%);
    } */
    /*25%{
        transform: translateY(20%);
    }
    35%{
        transform: translateY(-15%);
    }
    40%{
        transform: translateY(10%);
    }
    45%{
        transform: translateY(-10%);
    }
    50%{
        transform: translateY(10%);
    } */
    /* 60%{
        transform: rotate(10deg);
    }
    70%{
        transform: rotate(-10deg);
    }
    80%{
        transform: rotate(10deg);
    }
    90%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    } */
}

@keyframes raise {
    0% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(-120%);
    }
}

/* Welcome sign / Navbar */

@keyframes sway {

    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(8deg);
    }
}

/* Intro CSS */

#welcomeSign {
    min-height: 34vh;
    background: url(./images/welcome-sign.png) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -2vh;
    animation: sway 5s infinite;
    animation-timing-function: ease-in-out;
    transform-origin: top;
}

#welcomeSign>h1 {
    font-size: 2.5vw;
    font-family: cursive;
    margin-top: 18vh;
    transform: rotate(-6deg);
}

#navbar-container {
    min-height: 80%;
    background: url(./images/navbar.png) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -11vh;
    animation: sway 10s infinite;
    animation-timing-function: ease-in-out;
    transform-origin: top;
    box-shadow: none !important;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    pointer-events: none;
    cursor: default;
}

li:hover {
    opacity: 80%;
}

#sitePage {
    max-height: 95vh;
    aspect-ratio: 1;
    background: url(./images/background.jpg);
    background-size: contain;
    background-repeat: round;
    overflow: hidden;
}

/* article {
    display: none;
}

article.active {
    display: block;
    animation: fade 0.5s ease backwards;
} */

#content-container {
    height: 100%;
    align-content: flex-end;
}

/* landing page CSS */

.landing {
    font-family: cursive;
    animation: fade-in 2s;
    animation-fill-mode: forwards;
}

.landing.active {
    animation: fade-out 1s;
    animation-fill-mode: forwards;
}

#landing-container {
    background-color: rgb(0, 0, 0, 0.5);
}

#meat1>.row {
    background: url(./images/matt3.png) 50% 50%;
}

#meat2>.row {
    background: url(./images/matt3.png) 50% 50%;
}

#meat1>.row,
#meat2>.row {
    border-radius: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.board-image {
    min-height: 25vh !important;
    align-content: center;
    background: url(./images/cutting_board.png) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    /* animation: spin-and-enlarge 10s;
    animation-fill-mode: forwards; */
}

#meat1-image {
    background: url(./images/file1_c.png) 50% 50%;
}

#meat2-image {
    background: url(./images/file2_c.png) 50% 50%;
}

#meat1-image,
#meat2-image {
    min-height: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.weight-input {
    width: 100px;
}

/* Full product info CSS */

.full-product {
    display: flex !important;
    animation: flip-in 2s;
}

.full-product.active {
    animation: flip-out 1s;
    animation-fill-mode: forwards;
}

#full-product-container {
    max-width: 76%;
    min-height: 60vh;
    background: url(./images/delicacy-full.png) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

#file-info-head,
#file-info-middle,
#file-info-bottom {
    background-color: rgb(245, 245, 220, 0.5);
}

#file-info-bottom {
    justify-self: flex-end;
}

#file-info-bottom>div {
    vertical-align: middle;
}

/* Products CSS */

.products {
    animation: slide-in-from-bottom 3s;
    display: block !important;
}

.products.active {
    animation: slide-out-from-bottom 3s;
    animation-fill-mode: forwards;
}

#products-container {
    max-width: 90%;
    min-height: 60vh;
    background: url(./images/prodcuts.png) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}


.card {
    max-height: 13vh;
    width: 48% !important;
    background-color: rgb(248, 243, 181, 0.5) !important;
}

.img-wrapp{
    max-height: 11vh;
    overflow: hidden;
}

.card-img-top {
    object-fit: contain;
}

.page-link {
    background-color: rgb(248, 243, 181, 0.5) !important;
    color: black !important;
}

/* About CSS */

.about {
    display: block !important;
    animation: lower 5s;
    animation-fill-mode: forwards;
}

.about.active {
    animation: raise 5s;
    animation-fill-mode: forwards;
}

#about-container {
    min-height: 80vh;
    background: url(./images/about-sign-chain.png) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}

#about-text {
    max-width: 40vw;
}

/* Contacts us CSS */

.contacts.active {}

.contacts>#contacts-sign-container {
    display: block !important;
    position: relative;
    min-height: 50vh;
    min-width: 30%;
    float: left;
    left: -7%;
    background: url(./images/contacts_sign.png) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    animation: slide-in-tilt 2s;
    animation-fill-mode: forwards;
}

.contacts.active>#contacts-sign-container {
    animation: slide-out-tilt 1s;
    animation-fill-mode: forwards;
}

#contacts-email {
    transform: rotate(4.5deg);
}

#contacts-location {
    transform: rotate(8deg);
}

.contacts>#contacts-message-container {
    display: block !important;
    max-width: 60%;
    place-self: flex-end;
    background: url(./images/contacts_message_sign.png) 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    animation: slide-in-from-right 2s;
    animation-fill-mode: forwards;
}

.contacts.active>#contacts-message-container {
    animation: slide-out-from-right 1s;
    animation-fill-mode: forwards;
}

.form-control {
    background-color: #f8f3b5 !important;
}